<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tricycle" >

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find mycar)/urdf/materials.xacro" />

  <!-- Import robot  -->
  <xacro:include filename="$(find mycar)/urdf/xacro_gazebo/car/tricycle_body.xacro"/>
  <xacro:include filename="$(find mycar)/urdf/xacro_gazebo/sensors/lidar_gazebo.xacro"/>
  <xacro:include filename="$(find mycar)/urdf/xacro_gazebo/sensors/kinect_gazebo.xacro"/>

  <xacro:property name="lidar_offset_x" value="${0.75-0.04479+0.01679}" />
  <xacro:property name="lidar_offset_y" value="0" />
  <xacro:property name="lidar_offset_z" value="${0.06+0.6}" />

  <xacro:property name="camera_offset_x" value="${0.26+0.0075}" />
  <xacro:property name="camera_offset_y" value="0" />
  <xacro:property name="camera_offset_z" value="${0.825-0.02}" />

  <xacro:tricycle_body parent="base_link" meshes="package://gazebo_plugins/test/tricycle_drive/meshes/tricycle"/>
    <!-- lidar -->
    <joint name="lidar_joint" type="fixed">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="laser_link"/>
    </joint>

    <xacro:rplidar prefix="laser"/>

    <!-- rgbd -->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <xacro:kinect_camera prefix="camera"/>

</robot>
